<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Ravebot</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="'viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100"/>
    <script src="{% static 'script.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
     <div class = "chatbot">
        <header>
          <h1>Ravebot</h1>
        </header>
        <ul class="chatbox">
          <li class="chat incoming">
            <span class="material-symbols-outlined"><img class="bot-icon" src="{% static 'Icon.png' %}"></span>
            <p>Hi there!<br>How can I help you today?</p>
          </li>
        </ul>
        <div class="chat-input">
          <textarea placeholder="Enter a message..." onkeyup="handleKeyPress(event)"></textarea>
          <span class="material-symbols-outlined">send</span>
        </div>

     </div>

</body>
</html>